<h2 class="programs-title">Exercises</h2>

<div *ngIf="loading" class="no-programs">
  Betöltés...
</div>

<ng-container *ngIf="!loading; else noExercises">
  <div *ngIf="exercises.length > 0; else noExercises" class="programs-grid">
    <div *ngFor="let we of exercises" class="program-card">
      <!-- Emoji a tetején -->
      <div class="program-image">
        <span class="program-emoji">🏋️‍♂️</span>
      </div>

      <div class="program-content">
        <div class="program-name">{{ we.exercise.name }}</div>
        <div class="program-description">{{ we.exercise.description }}</div>
        <div class="program-progress">
          <div class="program-progress-label">
            <span>Sets/Reps:</span>
            <span>{{ we.sets }} / {{ we.repetitions }}</span>
          </div>
          <div class="program-progress-bar">
            <div class="program-progress-fill" [style.width.%]="100"></div>
          </div>
        </div>

        <div class="program-edit">
          <button (click)="editExercise(we.exercise.id!)">

          ✏️ Szerkesztés
          </button>
        </div>
      </div>
    </div>
  </div>
</ng-container>

<ng-template #noExercises>
  <div class="no-programs">
    No exercises found.
  </div>
</ng-template>
<button class="floating-action-button" (click)="goToNewExercise()" title="Új Exercise hozzáadása">➕</button>

