<h2 class="exercises-title">Gyakorlatok</h2>


<!-- ======================================================
     BETÖLTÉS
     ====================================================== -->

<div
  *ngIf="loading"
  class="no-exercises">

  Betöltés...

</div>


<ng-container *ngIf="!loading; else noExercises">


  <!-- ======================================================
       GYAKORLATOK
       ====================================================== -->

  <div
    *ngIf="exercises.length > 0; else noExercises"
    class="exercises-grid">

    <div
      *ngFor="let ex of pagedExercises"
      class="exercise-card">


      <!-- ==================================================
           FEJLÉC
           ================================================== -->

      <div class="exercise-image">

        <span class="exercise-emoji">
          🏋️‍♂️
        </span>

      </div>


      <!-- ==================================================
           TARTALOM
           ================================================== -->

      <div class="exercise-content">

        <h3 class="exercise-name">
          {{ ex.name }}
        </h3>


        <p
          *ngIf="ex.description"
          class="exercise-description">

          {{ ex.description }}

        </p>


        <!-- ==================================================
             SZERKESZTÉS
             ================================================== -->

        <div class="exercise-edit">

          <button
            type="button"
            class="edit-button"
            (click)="editExercise(ex.id!)">

            ✏️ Szerkesztés

          </button>

        </div>

      </div>

    </div>

  </div>


  <!-- ======================================================
       LAPOZÁS
       ====================================================== -->

  <div
    *ngIf="totalPages > 1"
    class="pagination-controls">

    <button
      type="button"
      class="pagination-button"
      (click)="prevPage()"
      [disabled]="currentPage === 1">

      ◀ Előző

    </button>


    <span class="pagination-info">
      {{ currentPage }} / {{ totalPages }}
    </span>


    <button
      type="button"
      class="pagination-button"
      (click)="nextPage()"
      [disabled]="currentPage === totalPages">

      Következő ▶

    </button>

  </div>

</ng-container>


<!-- ======================================================
     NINCS GYAKORLAT
     ====================================================== -->

<ng-template #noExercises>

  <div class="no-exercises">
    Nincsenek gyakorlatok.
  </div>

</ng-template>


<!-- ======================================================
     ÚJ GYAKORLAT
     ====================================================== -->

<button
  type="button"
  class="floating-action-button"
  (click)="goToNewExercise()"
  title="Új gyakorlat hozzáadása">

  ➕

</button>
