<ng-template #content>
  @if (showHeader) {
    <header class="border-b border-surface-100 p-4">
      <ng-content select="[cardHeader]"></ng-content>
    </header>
  }
  <div [class]="paddingClass" [style.display]="padding === 'none' ? 'contents' : null">
    <ng-content></ng-content>
  </div>
  @if (showActions) {
    <footer class="border-t border-surface-100 p-4">
      <ng-content select="[cardActions]"></ng-content>
    </footer>
  }
</ng-template>
<a
  *ngIf="routerLink !== null; else staticCard"
  [routerLink]="routerLink"
  [queryParams]="queryParams"
  class="focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-primary-500 group flex min-w-0 flex-col rounded-2xl transition duration-200"
  [class.overflow-hidden]="overflow === 'hidden'"
  [class.overflow-visible]="overflow === 'visible'"
  [class.overflow-auto]="overflow === 'auto'"
  [ngClass]="{
    'border border-surface-200 bg-white shadow-sm hover:-translate-y-1 hover:border-primary-300 hover:shadow-md':
      interactive,

    'border border-surface-200 bg-white shadow-sm': !interactive,
  }"
>
  <ng-container [ngTemplateOutlet]="content"></ng-container>
</a>

<ng-template #staticCard>
  <div
    class="group flex min-w-0 flex-col rounded-2xl transition duration-200"
    [class.overflow-hidden]="overflow === 'hidden'"
    [class.overflow-visible]="overflow === 'visible'"
    [class.overflow-auto]="overflow === 'auto'"
    [ngClass]="{
      'border border-surface-200 bg-white shadow-sm hover:-translate-y-1 hover:border-primary-300 hover:shadow-md':
        interactive,

      'border border-surface-200 bg-white shadow-sm': !interactive,
    }"
  >
    <ng-container [ngTemplateOutlet]="content"></ng-container>
  </div>
</ng-template>
