<h2 class="page-title">
  {{ 'adminUsers.title' | translate }}
</h2>

<app-message
  *ngIf="message"
  [message]="message"
  [type]="messageType"
></app-message>

<!-- Felhasználók -->
<ng-container *ngIf="paginatedUsers.length > 0; else noUsers">
  <div class="users-grid">
    <div
      *ngFor="let user of paginatedUsers"
      class="user-card"
    >
      <!-- Avatar / Emoji -->
      <div class="user-image">
        <span class="user-emoji">
          👤
        </span>
      </div>

      <!-- Tartalom -->
      <div class="user-content">
        <div class="user-name">
          {{ user.username }}
        </div>

        <div class="user-email">
          {{ user.email }}
        </div>

        <div class="user-roles">
          {{ 'adminUsers.role' | translate }}:
          {{ user.roles.join(', ') }}
        </div>
      </div>
    </div>
  </div>

  <!-- Lapozás -->
  <div class="pagination">
    <button
      (click)="prevPage()"
      [disabled]="currentPage === 1"
      class="pagination-button"
    >
      {{ 'common.previous' | translate }}
    </button>

    <span class="pagination-page">
      {{ currentPage }} / {{ totalPages }}
    </span>

    <button
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
      class="pagination-button"
    >
      {{ 'common.next' | translate }}
    </button>
  </div>
</ng-container>

<!-- Üres lista -->
<ng-template #noUsers>
  <div class="no-users">
    {{ 'adminUsers.noUsers' | translate }}
  </div>
</ng-template>
